body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #111827;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

a {
  color: #38bdf8;
}
